<mat-divider></mat-divider>
<section>
    <div class="example-label">Window Open</div>
    <div class="example-button-row">
        <button
            mat-raised-button
            color="primary"
            (click)="abrirURL('PUBnlbjZFAI')"
        >
            VIDEO
        </button>
    </div>
</section>
<mat-divider></mat-divider>
<section>
    <div class="example-label">Eliminar Cookie</div>
    <div class="example-button-row">
        <button
            mat-raised-button
            color="primary"
            (click)="deleteCookie('myFirstCookie')"
        >
            Eliminar Cookie
        </button>
    </div>
</section>
<mat-divider></mat-divider>

